<!DOCTYPE html>
<html data-theme="dark">
  <head>
    {{template "header"}}
    <title>关于</title>
  </head>
  <body>
    {{template "nav"}}
    <main>
      <article>{{.Content}}</article>
    </main>
  </body>
  <style>
    article {
      background: rgb(28, 29, 33);
      max-width: 70%;
      text-align: left;
      margin: 0 auto;
      border-radius: 30px;
    }
    p {
      font-size: 18px;
      line-height: 32px;
    }
    h1 {
      text-align: center;
      margin-bottom: 10px;
    }
    .meta p {
      text-align: center;
    }
    .date {
      text-align: center;
    }
  </style>
</html>
