<!DOCTYPE html>
<html data-theme="dark">

<head>
  {{template "header"}}
  <style>
    article {
      background: rgb(28, 29, 33);
      max-width: 70%;
      text-align: left;
      margin: 0 auto;
      border-radius: 30px;
    }

    @media (max-width: 768px) {
      article {
        max-width: 90%;
      }
    }

    p {
      font-size: 18px;
      line-height: 32px;
    }

    h1 {
      text-align: center;
      margin-bottom: 10px;
    }

    .meta p {
      text-align: center;
    }

    .date {
      text-align: center;
    }
  </style>
  <title>{{.Filename}}</title>
</head>

<body>
  {{template "nav"}}
  <main>
    <article>{{.Content}}</article>
  </main>
</body>

</html>