@charset "UTF-8";

html {
  height: 100%;
}

.logo {
  margin-top: 10px;
  margin-left: 30px;
  color: white;
  font-size: x-large;
}

.breadcrumb {
  margin-right: 50px;
}

.breadcrumb a {
  color: white;
  font-size: large;
}

@media (max-width: 768px) {
  .logo {
    margin-left: 15px;
    color: white;
    font-size: large;
  }

  .breadcrumb {
    margin-right: 25px;
  }

  .breadcrumb a {
    color: white;
    font-size: medium;
  }
}

@font-face {
  font-family: "LXGW";
  src: url("../css/LXGWWenKai-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family:
    "LXGW", system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
    "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
